snippet cmt
	// -----------------------------------------------------------------------------
	//   - ${0} -
	//
	// -----------------------------------------------------------------------------

snippet main
	func main() {
		${0}
	}
